{% extends "tethys_apps/app_base.html" %}

{% load static tethys %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  <img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}" />
{% endblock %}

{% block app_title %}<span style="color: black;"><strong>{{ tethys_app.name}}</strong></span>{% endblock %}

{% block app_navigation_items %}
{% url tethys_app|url:'home' as home_url %}
{% url tethys_app|url:'add_sighting' as add_sighting_url %}
{% url tethys_app|url:'list_sightings' as list_sightings_url %}
<li class="nav-item title">Navigation</li>
<li class="nav-item"><a class="nav-link{% if request.path == home_url %} active{% endif %}" href="{{ home_url }}">Sightings</a></li>
<li class="nav-item"><a class="nav-link{% if request.path == add_sighting_url %} active{% endif %}" href="{{ add_sighting_url }}">Add a Sighting</a></li>
<li class="nav-item"><a class="nav-link{% if request.path == list_sightings_url %} active{% endif %}" href="{{ list_sightings_url }}">List all Sightings</a></li>
{% endblock %}

{% block header_buttons %}
  {% url tethys_app|url:'home' as home_url %}
  {% url tethys_app|url:'add_sighting' as add_sighting_url %}
  {% url tethys_app|url:'list_sightings' as list_sighting_url %}
  <div class="header-button glyphicon-button">
    <a href="{{ home_url }}" title="Sightings"><i class="bi bi-map"></i></a>
  </div>
  <div class="header-button glyphicon-button">
    <a href="{{ add_sighting_url }}" title="Add Sighting"><i class="bi bi-plus-circle"></i></a>
  </div>
  <div class="header-button glyphicon-button">
    <a href="{{ list_sighting_url }}" title="List Sightings"><i class="bi bi-pen"></i></a>
  </div>
  <div class="header-button glyphicon-button">
    <a data-bs-toggle="modal" data-bs-target="#infoModal"><i class="bi bi-info"></i></a>
  </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static tethys_app|public:'css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block inner_app_content %}
{{ block.super }}
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Wild Atlas Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="info-modal-text-box">
            <p>This application was developed as part of the Tethys Summit App Development Contest in 2025.</p>
          </div>
          <div class="info-modal-text-box">
            <p>While at Yellowstone National Park, this application can be used to report animal sightings around the park and visualize other reports in real-time.</p>
          </div>
          <div class="info-modal-text-box">
            <p>View the <a href="https://github.com/TannerFrandsen/tethysapp-wildatlas">source code on GitHub</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

