{% extends 'wildatlas/base.html' %}
{% load tethys %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'wildatlas/js/list_sightings.js' %}"></script>
{% endblock %}

{% block app_content %}
<h2>Past Animal Sightings</h2>

{% if sightings|length > 0  %}
<div class="alert alert-info" style="margin-bottom: 20px;">
    <strong>Stats:</strong>
    Total Sightings: {{ sightings|length }}<br>
    <p class="formatted-datetime" data-datetime="{{ sightings.0.date_time }}">{{ sighting.date_time }} (~{{sightings.0.age_in_hours}} hours ago)</p>
</div>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Icon</th>
            <th>Animal Type</th>
            <th>Date/Time</th>
            <th>Age</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for sighting in sightings %}
        <tr>
            <td><img src="{{ sighting.logo_path }}" alt="animal" style="display: block; height: 30px; width: 30px;"></td>
            <td style="vertical-align:middle;">{{ sighting.name }}</td>
            <td style="vertical-align:middle;" class="formatted-datetime" data-datetime="{{ sighting.date_time }}">{{ sighting.date_time }}</td>
            <td style="vertical-align:middle;">~{{sighting.age_in_hours}} hours ago</td>
            <td style="vertical-align:middle;">{{ sighting.latitude }}</td>
            <td style="vertical-align:middle;">{{ sighting.longitude }}</td>
            <td style="vertical-align:middle;"><i onclick="deleteSighting('{{ sighting.id }}')" style="color:red;" class="bi bi-trash-fill" style="cursor:pointer;"></i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
